* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffb900;
  --font-heading: Sen, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

h1,
h2 {
  font-family: var(--font-heading);
  font-weight: 700;
}
/* Common */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}

.btn {
  display: inline-block;
  padding: 0 12px;
  line-height: 50px;
  min-width: 118px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}

.btn:hover {
  opacity: 0.9;
}

/* ============= Header =============== */
.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.header .nav {
  margin-left: auto;
}

.header .nav ul {
  display: flex;
}

.header .nav a {
  color: #5f5b53;
  padding: 8px 21px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.header .nav a:hover,
.header nav li.active a {
  position: relative;
  color: #171100;
  text-shadow: 0.5px 0 0 currentColor;
}

.header nav li.active a::after {
  content: "";
  position: absolute;
  left: 21px;
  bottom: 6px;
  border-radius: 1px;
  background: #171100;
  width: 12px;
  height: 2px;
}

/* Action */
.header .action {
  margin-left: 49px;
}

.header .sign-up-btn {
  width: 144px;
}

/* ============= Hero =============== */
.hero {
  background: #fffcf4;
}

.hero .body {
  display: flex;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 65px;
}

/* Hero left */
.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  width: 470px;
  height: 685px;
}

.hero .hero-sumary {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 48px;
  right: 0;
  padding: 24px;
  min-width: 270px;
}

.hero .hero-sumary .item {
  display: flex;
}

.hero .hero-sumary .item + .item {
  margin-top: 14px;
}

.hero .hero-sumary .img {
  width: 48px;
  height: 48px;
}

.hero .hero-sumary .content {
  margin-left: 14px;
}

.hero .hero-sumary .desc {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}

.hero .hero-sumary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

/* hero right */
.hero .content-block {
  width: 52%;
  margin-left: auto;
  width: 470px;
}

.hero .content-block .title {
  color: #171100;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.hero .content-block .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.hero .cta-group {
  margin: 38px 0 48px 0;
  display: flex;
  align-items: center;
}

.hero .hero-cta {
  border-radius: 32px;
  min-width: 180px;
  line-height: 64px;
  background-color: var(--primary-color);
}

.hero .watch-video {
  display: flex;
  align-items: center;
  margin-left: 16px;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 12px;
}

.hero .watch-video:hover {
  background-color: var(--primary-color);
  border-radius: 24.5px;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.hero .stats {
  margin-top: 8px;
  display: flex;
}

.hero .stats strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
  margin-right: 8px;
}

.hero .stats .desc {
  margin-top: 0;
}

.hero .stats .desc:first-child {
  margin-right: 28px;
}
