* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffb900;
  --font-heading: Sen, sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

h1,
h2 {
  font-family: var(--font-heading);
  font-weight: 700;
}
/* Common */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}

.btn {
  display: inline-block;
  padding: 0 12px;
  line-height: 50px;
  min-width: 118px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}

.btn:hover {
  opacity: 0.9;
}

.btn-active {
  background-color: var(--primary-color);
}

.dots {
  margin-top: 28px;
}

.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.dot:hover {
  background: #ffb900;
}

.active-dot {
  background: #ffb900;
  cursor: default;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}

/* ============= Header =============== */
.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.header .nav {
  margin-left: auto;
}

.header .nav ul {
  display: flex;
}

.header .nav a {
  color: #5f5b53;
  padding: 8px 21px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.header .nav a:hover,
.header nav li.active a {
  position: relative;
  color: #171100;
  text-shadow: 0.5px 0 0 currentColor;
}

.header nav li.active a::after {
  content: "";
  position: absolute;
  left: 21px;
  bottom: 6px;
  border-radius: 1px;
  background: #171100;
  width: 12px;
  height: 2px;
}

/* Action */
.header .action {
  margin-left: 49px;
}

.header .sign-up-btn {
  width: 144px;
}

/* ============= Hero =============== */
.hero {
  background: #fffcf4;
}

.hero .body {
  display: flex;
  align-items: center;
  padding: 56px 0 65px;
}

/* Hero left */
.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  width: 470px;
  height: 685px;
  display: block;
}

.hero .hero-sumary {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 48px;
  right: 0;
  padding: 24px;
  min-width: 270px;
}

.hero .hero-sumary .item {
  display: flex;
  align-items: center;
}

.hero .hero-sumary .item + .item {
  margin-top: 14px;
}

.hero .hero-sumary .img {
  width: 48px;
  height: 48px;
}

.hero .hero-sumary .content {
  margin-left: 14px;
}

.hero .hero-sumary .desc {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}

.hero .hero-sumary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

/* hero right */
.hero .content-block {
  width: 52%;
  margin-left: auto;
  width: 470px;
}

.hero .content-block .title {
  color: #171100;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.hero .content-block .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.hero .cta-group {
  margin: 38px 0 48px 0;
  display: flex;
  align-items: center;
}

.hero .hero-cta {
  border-radius: 32px;
  min-width: 180px;
  line-height: 64px;
  background-color: var(--primary-color);
}

.hero .watch-video {
  display: flex;
  align-items: center;
  margin-left: 16px;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 12px;
}

.hero .watch-video:hover {
  background-color: var(--primary-color);
  border-radius: 24.5px;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.hero .stats {
  margin-top: 8px;
  display: flex;
}

.hero .stats strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
  margin-right: 8px;
}

.hero .stats .desc {
  margin-top: 0;
}

.hero .stats .desc:first-child {
  margin-right: 28px;
}

/* ============= Popular =============== */
.popular {
  padding: 200px 0;
}

.popular .popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .title {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
}

.popular .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  margin-top: 16px;
}

.popular .icon:hover {
  opacity: 0.9;
  cursor: pointer;
}

.popular .icon-left {
  margin-right: 18px;
}

.popular .popular-bottom {
  margin-top: 55px;
  display: flex;
}

.popular-bottom .list {
  display: flex;
  gap: 30px;
}

.popular-bottom .item {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular-bottom .img {
  width: 370px;
  height: 278px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
}
.popular-bottom .content {
  padding: 12px 22px 22px;
}
.popular-bottom .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.popular-bottom .first-row {
  margin-top: 0;
}

.popular-bottom .title {
  color: #171100;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular-bottom .star {
  margin-right: 2px;
}

.popular-bottom .rate {
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.popular-bottom .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.popular-bottom .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular-bottom .popupar-btn {
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
}

.popular-bottom .popupar-btn:hover {
  background: #ffb900;
}

/* ========= Feedback ========= */
.feedback {
  background: #2e2100;
}

.feedback .feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback .feedback-item {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  justify-content: space-between;
  padding: 96px 0;
}

.feedback .info {
  width: 14%;
}

.feedback .avatar {
  display: block;
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 72px;
}

.feedback .full-name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
}

.feedback .major {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.feedback .quote {
  width: 65%;
}

.feedback .desc {
  margin-left: 30px;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 300;
  line-height: 1.54;
}

/* ============= Features =============== */
.feature {
  padding: 200px 0;
}

.feature .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature .media {
  width: 49%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.feature img {
  width: 270px;
  height: 404px;
  flex-shrink: 0;
  border-radius: 16px;
  object-fit: cover;
}

.feature img:nth-child(2) {
  margin-bottom: 33px;
}

.feature .content {
  width: 41%;
}

.feature .title {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
}

.feature .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.feature .feature-btn {
  margin-top: 32px;
  border-radius: 26px;
  background: #ffb900;
  width: 137px;
}

.feature-2nd {
  padding-top: 0;
  padding-bottom: 200px;
}

.feature-2nd .content {
  width: 49%;
}

.feature-2nd img {
  width: 470px;
  height: 440px;
  object-fit: cover;
}

/* ======== Blog ========= */
.blog {
  background: #fffcf4;
  padding: 96px 0;
}

.blog .blog-top {
  text-align: center;
}

.blog .title {
  color: #130606;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
}

.blog .desc {
  width: 448px;
  margin: 16px auto auto;
  color: #696262;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.blog .blog-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.blog-item {
  flex: 1;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog-item .content {
  padding: 20px;
}

.blog-item img {
  width: 370px;
  height: 250px;
  border-radius: 16px 16px 0px 0px;
  object-fit: cover;
}

.blog-item .date {
  display: flex;
  align-items: center;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.blog-item .date::before {
  content: "";
  display: inline-block;
  margin-right: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffb900;
}

.blog-item .seperate {
  content: "";
  display: inline-block;
  margin-top: 12px;
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
}

.blog-item .title {
  margin-top: 12px;
  color: #171100;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.blog .blog-btn {
  font-size: 1.4rem;
  margin-top: 12px;
  border-radius: 25px;
}

.blog .dots {
  display: flex;
  justify-content: center;
  gap: 6px;
}

/* ========== Footer ============ */
.footer {
  background: #2e2100;
}

.footer .body {
  padding: 96px 0 28px 0;
}

.footer .body .columns {
  display: flex;
}
.footer .column + .column {
  margin-left: 130px;
}

.footer .first-col {
  max-width: 267px;
  margin-right: 15px;
}

.footer .desc,
.footer .item {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.footer .desc {
  margin-top: 18px;
}

.footer .icons {
  margin-top: 18px;
  display: flex;
}

.footer .icon {
  margin-right: 18px;
}

.footer .title {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.footer .title::after {
  content: "";
  display: block;
  margin-top: 14px;
  margin-bottom: 16px;
  width: 130px;
  height: 1px;
  background: #59554b;
}

.footer li {
  margin-top: 12px;
  text-wrap: nowrap;
}

.footer li span {
  font-weight: 600;
  color: #fff;
}

.footer .last-col li {
  text-wrap: wrap;
}

.footer .seperate {
  margin-top: 38px;
  width: 1170px;
  height: 1px;
  background: #59554b;
}

.footer .copyright {
  margin-top: 28px;
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}
